.vs/MVC_Contoso/FileContentIndex/f6190089-fc51-44c8-9cc4-11f7f2583dd9.vsidx
MVC_Contoso/bin/Debug/net6.0/MVC_Contoso.dll
MVC_Contoso/bin/Debug/net6.0/MVC_Contoso.pdb
MVC_Contoso/obj/Debug/net6.0/MVC_Contoso.dll
MVC_Contoso/obj/Debug/net6.0/MVC_Contoso.pdb
MVC_Contoso/obj/Debug/net6.0/ref/MVC_Contoso.dll
MVC_Contoso/obj/Debug/net6.0/refint/MVC_Contoso.dll
MVC_Contoso/obj/staticwebassets.pack.sentinel
.vs/MVC_Contoso/FileContentIndex/a4a608bd-dfda-48ba-b4b7-2666fb196ffa.vsidx
.vs/MVC_Contoso/v17/.suo
